h2 {
    color: orange;
    font-size: 30px;
    font-style: italic;
    position: relative;
    top: 590px;
}

h3 {
    position: relative;
    top: 590px;
    font-size: 22px;
}

#OpeningTime {
    color: orange;
}

#Times {
    position: relative;
    top: 590px;
}

#WeekDay {
    color: black;
    font-size: 22px;
    position: relative;
    top: 30px;
    font-style: italic;
}

#googleMapLocation {
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 2;
}

@media screen and (max-width: 508px) {
    #WeekDay {
        font-size: 16px;
    }
}