* {
    margin: 0;
    text-transform: capitalize;
    font-family: "Century Gothic", sans-serif;
}

#menuHeader {
    color: orange;
    margin: 20px 0 5px 0;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    text-rendering: optimizeSpeed;
}

#menuUnderneath {
    color: rgba(0, 0, 0, 0.800);
    margin: 5px;
    font-size: 21px;
    text-align: center;
    text-rendering: optimizeSpeed;
}

.leftSideMenu {
    position: absolute;
    display: inline-block;
    justify-content: center;
    width: 520px;
    height: auto;
    right: 53%;
    margin-top: 15px;
}

.rightSideMenu {
    position: absolute;
    display: inline-block;
    justify-content: center;
    width: 520px;
    height: auto;
    left: 53%;
    margin-top: 15px;
}

#MenuItemHeader {
    position: relative;
    display: inline-block;
    background-color: #464646;
    color: orange;
    font-style: italic;
    width: 96.2%;
    font-size: 22px;
    padding: 10px;
    margin: 15px 0px 15px 0px;
}

#MenuItemSubHeader {
    color: black;
    font-style: italic;
    font-size: 20px;
    padding: 10px 0px 2px 20px;
}

.menuClass {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

#price {
    color: orange;
    font-weight: bold;
}

p {
    padding: 3px 0px 0px 30px;
    font-style: italic;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 1145px) {
    .rightSideMenu {
        position: static;
        display: inline-block;
        justify-content: center;
        top: 2270px;
        width: 99%;
        margin-left: 3px;
    }
    .leftSideMenu {
        position: static;
        display: inline-block;
        justify-content: center;
        width: 99%;
        margin-left: 3px;
    }
}